<div *ngIf="!isAuthenticated">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <input type="text" class="login-input" ngModel name="email" placeholder="email" required="required">

    <input type="password" class="login-input" ngModel name="password" placeholder="mot de pass" required="requires">

    <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
</div>

<div *ngIf="isAuthenticated">
  {{welcomeMessage}}
  <pre>
    {{ jbbData | json }}
  </pre>
</div>
